body {
    background-color: #a9e27aab;
    margin: 2% 15% 2% 15%;
    font-family: "Roboto";
}

h1, h2 {
    font-family: 'Otomanopee One', sans-serif;
}

h4, h5 { 
    margin: 0;
}

.container {
    background-color: burlywood;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 30px;
    padding-bottom: 100px;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}
  
.column {
    display: flex;
    flex-direction: column;
    flex-basis: auto;
    flex: 3;
}

.double-column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}

.software-row {
    display: flex;
    justify-content: space-between;
}
  